* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: verdana, sans-serif;
}
footer {
  width: 100%;
  padding: 20px;
  background-color: darkgrey;
  color: lightgrey;
  position: absolute;
  left: 0;
  bottom: 0;
}
